<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "NovaTerra IDE" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen w-screen overflow-hidden bg-gray-50">
    <%= yield %>
  </body>
</html>
